from typing import Sequence

from sqlalchemy import Select
from sqlalchemy.ext.asyncio import AsyncSession
from sqlalchemy_crud_plus import CRUDPlus

from backend.app.{{ app_name }}.model import {{ class_name }}
from backend.app.{{ app_name }}.schema.{{ table_name }} import Create{{ schema_name }}Param, Update{{ schema_name }}Param


class CRUD{{ class_name }}(CRUDPlus[{{ schema_name }}]):
    async def get(self, db: AsyncSession, pk: int) -> {{ class_name }} | None:
        """
        Get {{ doc_comment }}

        :param db: database session
        :param pk: {{ doc_comment }} ID
        :return:
        """
        return await self.select_model(db, pk)

    async def get_select(self) -> Select:
        """Get {{ doc_comment }} list query expression"""
        return await self.select_order('id', 'desc')

    async def get_all(self, db: AsyncSession) -> Sequence[{{ class_name }}]:
        """
        Get all {{ doc_comment }}

        :param db: database session
        :return:
        """
        return await self.select_models(db)

    async def create(self, db: AsyncSession, obj: Create{{ schema_name }}Param) -> None:
        """
        Create {{ doc_comment }}

        :param db: database session
        :param obj: Create {{ doc_comment }} parameters
        :return:
        """
        await self.create_model(db, obj)

    async def update(self, db: AsyncSession, pk: int, obj: Update{{ schema_name }}Param) -> int:
        """
        Update {{ doc_comment }}

        :param db: database session
        :param pk: {{ doc_comment }} ID
        :param obj: Update {{ doc_comment }} parameters
        :return:
        """
        return await self.update_model(db, pk, obj)

    async def delete(self, db: AsyncSession, pks: list[int]) -> int:
        """
        Batch delete {{ doc_comment }}

        :param db: database session
        :param pks: {{ doc_comment }} ID list
        :return:
        """
        return await self.delete_model_by_column(db, allow_multiple=True, id__in=pks)


{{ table_name }}_dao: CRUD{{ class_name }} = CRUD{{ class_name }}({{ class_name }})
